
@{
    ViewData["Title"] = "Blog";
}

<section class="blog-section">
    <div class="blog-warp">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="blog-post">
                    <img src="/img/portfolio/1.jpg" alt="">
                    <div class="blog-date">Feb 11, 2019</div>
                    <h3>10 Tips for a great shot</h3>
                    <div class="blog-cata">
                        <span>Lifestyle</span>
                        <span>Photography</span>
                        <span>Travel</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidi-dunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
                    <a href="#" class="site-btn">Read more</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="blog-post">
                    <img src="/img/portfolio/2.jpg" alt="">
                    <div class="blog-date">Feb 11, 2019</div>
                    <h3>Photography cousrses 101</h3>
                    <div class="blog-cata">
                        <span>Lifestyle</span>
                        <span>Photography</span>
                        <span>Travel</span>
                    </div>
                    <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi-da. Risus commodo viverra maecenas ac-cumsan lacus vel facilisis.</p>
                    <a href="#" class="site-btn">Read more</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="blog-post">
                    <img src="/img/portfolio/3.jpg" alt="">
                    <div class="blog-date">Feb 11, 2019</div>
                    <h3>New Lifestyle event</h3>
                    <div class="blog-cata">
                        <span>Lifestyle</span>
                        <span>Photography</span>
                        <span>Travel</span>
                    </div>
                    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facili-sis commodo viverra maecenas. </p>
                    <a href="#" class="site-btn">Read more</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="blog-post">
                    <img src="/img/portfolio/4.jpg" alt="">
                    <div class="blog-date">Feb 11, 2019</div>
                    <h3>10 Tips for a great shot</h3>
                    <div class="blog-cata">
                        <span>Lifestyle</span>
                        <span>Photography</span>
                        <span>Travel</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidi-dunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
                    <a href="#" class="site-btn">Read more</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="blog-post">
                    <img src="/img/portfolio/5.jpg" alt="">
                    <div class="blog-date">Feb 11, 2019</div>
                    <h3>Photography cousrses 101</h3>
                    <div class="blog-cata">
                        <span>Lifestyle</span>
                        <span>Photography</span>
                        <span>Travel</span>
                    </div>
                    <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi-da. Risus commodo viverra maecenas ac-cumsan lacus vel facilisis.</p>
                    <a href="#" class="site-btn">Read more</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="blog-post">
                    <img src="/img/portfolio/6.jpg" alt="">
                    <div class="blog-date">Feb 11, 2019</div>
                    <h3>New Lifestyle event</h3>
                    <div class="blog-cata">
                        <span>Lifestyle</span>
                        <span>Photography</span>
                        <span>Travel</span>
                    </div>
                    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facili-sis commodo viverra maecenas. </p>
                    <a href="#" class="site-btn">Read more</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="blog-post">
                    <img src="/img/portfolio/7.jpg" alt="">
                    <div class="blog-date">Feb 11, 2019</div>
                    <h3>10 Tips for a great shot</h3>
                    <div class="blog-cata">
                        <span>Lifestyle</span>
                        <span>Photography</span>
                        <span>Travel</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidi-dunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
                    <a href="#" class="site-btn">Read more</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="blog-post">
                    <img src="/img/portfolio/8.jpg" alt="">
                    <div class="blog-date">Feb 11, 2019</div>
                    <h3>Photography cousrses 101</h3>
                    <div class="blog-cata">
                        <span>Lifestyle</span>
                        <span>Photography</span>
                        <span>Travel</span>
                    </div>
                    <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi-da. Risus commodo viverra maecenas ac-cumsan lacus vel facilisis.</p>
                    <a href="#" class="site-btn">Read more</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="blog-post">
                    <img src="/img/portfolio/9.jpg" alt="">
                    <div class="blog-date">Feb 11, 2019</div>
                    <h3>New Lifestyle event</h3>
                    <div class="blog-cata">
                        <span>Lifestyle</span>
                        <span>Photography</span>
                        <span>Travel</span>
                    </div>
                    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facili-sis commodo viverra maecenas. </p>
                    <a href="#" class="site-btn">Read more</a>
                </div>
            </div>
        </div>
        <div class="site-pagination">
            <a href="#" class="current">01.</a>
            <a href="#">02.</a>
            <a href="#">03.</a>
            <a href="#">04.</a>
            <a href="#">05.</a>
        </div>
    </div>
</section>

