
@{
    ViewData["Title"] = "Index";
}

<div class="hero-section">
    <div class="hero-slider owl-carousel">
        <div class="hero-item portfolio-item set-bg" data-setbg="/img/portfolio//1.jpg">
            <a href="Portfolio" class="hero-link">
                <h2>Take a look at my Portfolio</h2>
            </a>
            @*@Html.ActionLink("Take a look at my Portfolio","Portfolio","Home")*@
        </div>
        <div class="hero-item portfolio-item set-bg" data-setbg="/img/portfolio//2.jpg">
            <a href="Portfolio" class="hero-link">
                <h2>Take a look at my Portfolio</h2>
            </a>
        </div>
        <div class="hero-item portfolio-item set-bg" data-setbg="/img/portfolio//3.jpg">
            <a href="Portfolio" class="hero-link">
                <h2>Take a look at my Portfolio</h2>
            </a>
        </div>
        <div class="hero-item portfolio-item set-bg" data-setbg="/img/portfolio//4.jpg">
            <a href="Portfolio" class="hero-link">
                <h2>Take a look at my Portfolio</h2>
            </a>
        </div>
        <div class="hero-item portfolio-item set-bg" data-setbg="/img/portfolio//5.jpg">
            <a href="Portfolio" class="hero-link">
                <h2>Take a look at my Portfolio</h2>
            </a>
        </div>
        <div class="hero-item portfolio-item set-bg" data-setbg="/img/portfolio//6.jpg">
            <a href="Portfolio" class="hero-link">
                <h2>Take a look at my Portfolio</h2>
            </a>
        </div>
        <div class="hero-item portfolio-item set-bg" data-setbg="/img/portfolio//7.jpg">
            <a href="Portfolio" class="hero-link">
                <h2>Take a look at my Portfolio</h2>
            </a>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div class="hero-item portfolio-item set-bg" data-setbg="/img/portfolio//8.jpg">
            <a href="Portfolio" class="hero-link">
                <h2>Take a look at my Portfolio</h2>
            </a>
        </div>
        <div class="hero-item portfolio-item set-bg" data-setbg="/img/portfolio//9.jpg">
            <a href="Portfolio" class="hero-link">
                <h2>Take a look at my Portfolio</h2>
            </a>
        </div>
        <div class="hero-item portfolio-item set-bg" data-setbg="/img/portfolio//10.jpg">
            <a href="Portfolio" class="hero-link">
                <h2>Take a look at my Portfolio</h2>
            </a>
        </div>
        <div class="hero-item portfolio-item set-bg" data-setbg="/img/portfolio//11.jpg">
            <a href="Portfolio" class="hero-link">
                <h2>Take a look at my Portfolio</h2>
            </a>
        </div>
        <div class="hero-item portfolio-item set-bg" data-setbg="/img/portfolio//12.jpg">
            <a href="Portfolio" class="hero-link">
                <h2>Take a look at my Portfolio</h2>
            </a>
        </div>
        <div class="hero-item portfolio-item set-bg" data-setbg="/img/portfolio//13.jpg">
            <a href="Portfolio" class="hero-link">
                <h2>Take a look at my Portfolio</h2>
            </a>
        </div>
        <div class="hero-item portfolio-item set-bg" data-setbg="/img/portfolio//14.jpg">
            <a href="Portfolio" class="hero-link">
                <h2>Take a look at my Portfolio</h2>
            </a>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div class="hero-item portfolio-item set-bg" data-setbg="/img/portfolio//15.jpg">
            <a href="Portfolio" class="hero-link">
                <h2>Take a look at my Portfolio</h2>
            </a>
        </div>
        <div class="hero-item portfolio-item set-bg" data-setbg="/img/portfolio//16.jpg">
            <a href="Portfolio" class="hero-link">
                <h2>Take a look at my Portfolio</h2>
            </a>
        </div>
        <div class="hero-item portfolio-item set-bg" data-setbg="/img/portfolio//17.jpg">
            <a href="Portfolio" class="hero-link">
                <h2>Take a look at my Portfolio</h2>
            </a>
        </div>
        <div class="hero-item portfolio-item set-bg" data-setbg="/img/portfolio//18.jpg">
            <a href="Portfolio" class="hero-link">
                <h2>Take a look at my Portfolio</h2>
            </a>
        </div>
        <div class="hero-item portfolio-item set-bg" data-setbg="/img/portfolio//19.jpg">
            <a href="Portfolio" class="hero-link">
                <h2>Take a look at my Portfolio</h2>
            </a>
        </div>
        <div class="hero-item portfolio-item set-bg" data-setbg="/img/portfolio//20.jpg">
            <a href="Portfolio" class="hero-link">
                <h2>Take a look at my Portfolio</h2>
            </a>
        </div>
        <div class="hero-item portfolio-item set-bg" data-setbg="/img/portfolio//21.jpg">
            <a href="Portfolio" class="hero-link">
                <h2>Take a look at my Portfolio</h2>
            </a>
        </div>
    </div>
    <div class="hero-social-links">
        <a href="#"><i class="fa fa-pinterest"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-behance"></i></a>
    </div>
</div>


<section class="intro-section">
    <div class="intro-warp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-7 p-0">
                    <div class="intro-text">
                        <h2>My name is Sam. I’m a photographer</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis commodo viverra maecenas. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                        <a href="/Home/Portfolio" class="sp-link">Take a look @@my portfolio</a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 p-0">
                    <div class="skill-warp">
                        <div class="single-progress-item">
                            <div class="progress-bar-style" data-progress="75"></div>
                            <p>Nature</p>
                        </div>
                        <div class="single-progress-item">
                            <div class="progress-bar-style" data-progress="100"></div>
                            <p>Passion</p>
                        </div>
                        <div class="single-progress-item">
                            <div class="progress-bar-style" data-progress="90"></div>
                            <p>Portraits</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


